<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Product</h4>
            <ul class="breadcrumbs">
                <li class="page-title">
                    <a href="">Product</a>
                </li>
                <li class="separator">
                    <i class="fas fa-angle-double-right"></i>
                </li>
                <li class="nav-item">
                    <a href="">Details</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Product Full Details</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <!-- <div *ngFor="let dataItem of canditateFullDetails">
                                <tr style="width: 50%;"><th>First Name</th><td>{{dataItem.FirstName}}</td></tr>
                                <tr><th>Last Name</th><td>{{dataItem.LastName}}</td></tr>
                                <tr><th>Gender</th><td>{{dataItem.Gender}}</td></tr>
                                <tr><th>Email</th><td>{{dataItem.Email}}</td></tr>
                                <tr><th>Mobile No</th><td>{{dataItem.MobileNo}}</td></tr>
                                <tr><th>Education</th><td>{{dataItem.Education}}</td></tr>
                                <tr><th>Experience</th><td>{{dataItem.Experience}}</td></tr>
                                <tr><th>Position</th><td>{{dataItem.Position}}</td></tr>
                            </div> -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


