<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Product</h4>
            <ul class="breadcrumbs">
                <li class="page-title">
                    <a routerLink="/product">Product</a>
                </li>
                <li class="separator">
                    <i class="fas fa-angle-double-right"></i>
                </li>
                <li class="nav-item">
                    <a >Details</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Product Full Details</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered" *ngFor="let dataItem of productFullDetails">
                            <tr><th style="width:50%;">Product Name</th><td>{{dataItem.ProductName}}</td></tr>
                            <tr><th>Brand Name</th><td>{{dataItem.BrandName}}</td></tr>
                            <tr><th>Label Type</th><td>{{dataItem.Label}}</td></tr>
                            <tr><th>Start Inventory</th><td>{{dataItem.StartInventory}}</td></tr>
                            <tr><th>Minimum Inventory</th><td>{{dataItem.MinimumInventory}}</td></tr>
                            <tr><th>Unit Price</th><td>{{dataItem.UnitPrice | currency: 'LKR': 'code'}}</td></tr>
                            <tr><th>Selling Price</th><td>{{dataItem.SellPrice | currency: 'LKR': 'code'}}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


